{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        <!-- 套boostrap 但title 是自己的 -->
    {% block title %} Jamie Huang 的自學程式小部落格 {% endblock %}
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href= "{% static "css/style.css" %}" >
</head>
<body>
        <br/>
        <div class="container-fluid">
          <div class="media-body">
              <h5 class="mt-2 text_style"> 用 Django 與 Bootstrap 試著寫寫程式 </h5>
              <li class = "media text_style">
                  點進網頁的你，不妨按按上面的 To-do-app & BBS(電子佈告欄) 兩個功能試試看玩玩看哦！
              </li>
              <li class = "media text_style">
                  如果想操作 BBS 與 To-do-app 可以註冊帳號或是使用第三方 Social-media 註冊！
              </li>
              <li class = "media text_style">
                  下面是我自己試著做的 Side Project 心得歡迎點閱分享。
              </li>
          </div>
        </div>
    <br/>
        {% for post in posts %}
            <div class="col-sm-9">
                <h3 class="text_style">
                    {{ post.Title }}
                </h3>
                <h6 class="date_style">
                    {{ post.Create_date }}
                </h6>

                <div class="card" style="width: 35 rem;">
                    <img src="{% static post.Image %}" class="card-img-top" alt="{{ post.Title }}">
                    <div class="card-body">
                        <p class="card-text">
                            {{ post.Intro }}
                        </p>
                        <a href="{{ post.Href }}" class="btn btn-primary">瞭解更多</a>
                    </div>
                </div>
                </div>
                <br/>
                <hr>
        {% endfor %}
<!--          <div class="col-sm-6">-->
<!--    <h3>-->
<!--        2019熱門電影關鍵字爬蟲-->
<!--    </h3>-->
<!--    <div class="card" style="width: 24rem;">-->
<!--      <img src="{% static 'images/keyword.png' %}" class="card-img-top" alt="2019熱門電影關鍵字">-->
<!--      <div class="card-body">-->
<!--    <h5 class="card-title"> 2019熱門電影關鍵字 </h5>-->
<!--    <p class="card-text">-->
<!--        這次寫的這隻爬蟲程式主要是想去驗收自己是不是真的能應用自己所學的爬蟲技巧去整理自己所要蒐集的資訊，因此出給自己一份小作業，把PTT電影版好雷的電影整理成 Dict，再利用 Jieba 生成文字雲...-->
<!--    </p>-->
<!--    <a href="https://reurl.cc/Rd1GzD" class="btn btn-primary">瞭解更多</a>-->
<!--      </div>-->
<!--    </div>-->
<!--          </div>-->

<!--                  <div class="col-sm-6">-->
<!--    <h3>-->
<!--        利用爬蟲篩選適合的投資標的物-->
<!--    </h3>-->
<!--    <div class="card" style="width: 24rem;">-->
<!--      <img src="{% static 'images/stock_filter.png' %}" class="card-img-top" alt="用 Python Selenium & pandas & dict">-->
<!--      <div class="card-body">-->
<!--    <h5 class="card-title"> 用爬蟲篩選指定指標找到適合投資標的物 </h5>-->
<!--    <p class="card-text">-->
<!--這支爬蟲是我出給自己 project，看自己能不能把自己的想法用程式的方法實現，以下是這支程式的概念，想利用爬蟲 Selenium 幫我們爬取資料並篩選出關鍵資訊...    </p>-->
<!--    <a href="https://reurl.cc/9zXNRj" class="btn btn-primary">瞭解更多</a>-->
<!--      </div>-->
<!--    </div>-->
<!--                  </div>-->
    <footer>
        <center>
            {% for page_number in posts.paginator.page_range %}
              {% ifequal page_number posts.number %}
                {{ page_number }}
              {% else %}
                <a href =  "?page={{ page_number }}"> {{ page_number }}</a>
              {% endifequal %}
            {% endfor %}
        </center>
        <center>
        <div>
            <span>
                {% if posts.has_previous %}
                    <a href = "?page={{ posts.previous_page_number }}"> Newer </a>
                {% endif %}
            </span>
<!--            <span>-->
<!--                Page  {{ posts.number }}  of  {{ posts.paginator.num_pages }}-->
<!--            </span>-->
            <span>
                {% if posts.has_next %}
                    <a href= "?page={{ posts.next_page_number }}"> Older </a>
                {% endif %}
            </span>
        </div>
        </center>
    </footer>
</body>
</html>

{% endblock %}