{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Jamie Huang's Blog use django to create your own website
         and familiarize models ,templates and views system (MVC)
         — Blog & To-do-list & BBS social media | Heroku.">
        <title>
        {% block title %}
            To-do-app | Jamie Huang's Blog 用 Django 打造專屬自己的程式小部落格
        {% endblock %}
        </title>
        <!-- Bootstrap CSS & 自己CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href= "{% static "css/style.css" %}" >
    </head>
    <body>
        {% block content %}
            {% if edit_item %}
            <h5 class="to-do-intro">
                請輸入要修改的待辦事項:
            </h5>
            <form class="edit form-inline my-2 my-lg-0" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-3" type="search" placeholder="{{edit_item.item}}"
                 value = "{{edit_item.item}}" aria-label="Search" name = "item">
                <input type = "hidden" value="{{ edit_item.priority }}" name="priority">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
                    Edit-Item
                </button>
            </form>
            {% endif %}
        {% endblock %}
    </body>
</html>