{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Jamie Huang's Blog use django to create your own website
         and familiarize models ,templates and views system (MVC)
         — Blog & To-do-list & BBS social media | Heroku.">
        <title>
        {% block title %}
            To-do-app | Jamie Huang's Blog 用 Django 打造專屬自己的程式小部落格
        {% endblock %}
        </title>
        <!-- Bootstrap CSS & 自己CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href= "{% static "css/style.css" %}" >
    </head>
    <body>
        {% block content %}

        <h5 class="to-do-intro">
            To-do-app 是提醒大家在日常生活中待辦事項的一個小的應用 ，
            "*" 數越多，代表這件事情的優先順序越高，
            請在輸入待辦事項時，以"*"表示此事情處理順位，預設為一個"*"，由下方輸入代辦事項。
        </h5>
        <!--to-do-add-item-->
        <form class="to-do-add form-inline my-2 my-sm-0" method="POST">
            <span class="to-do-intro">
                <b>
                    請輸入要加入的 To-do-item:
                </b>
            </span>
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="To-do-item"
             value="Fill in To-do-item..." aria-label="Search" name = "item">
            <select class="form-control mr-sm-2" name = "priority">
                <option value = "*" selected> minor </option>
                <option value = "**"> major </option>
                <option value= "***"> very important </option>
            </select>
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
                Add-Item
            </button>
        </form>

        {% if messages %}
            {% for message in messages %}
                <!--message_box-->
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button class="close" data-dismiss="alert">
                        <small>
                            <sup>
                                X
                            </sup>
                        </small>
                    </button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <!--To-do-item-list-->
        <table class="table">
            <!--表格標頭-->
            <thead class="to-do-table thead-dark">
                <tr>
                    <th scope="col">
                        Date
                    </th>
                    <th scope="col">
                        Item
                    </th>
                    <th scope="col">
                        Priority
                    </th>
                    <th scope="col">
                        Completed
                    </th>
                    <th scope="col">
                        Deleted
                    </th>
                </tr>
            </thead>
            <tbody class="to-do-table">
            {% if all_items %}
                {% for item in all_items %}
                    {% if item.completed %}
                        <!--如果item完成表格內容-->
                        <tr class = "table-secondary">
                            <td>
                                {{item.event_date}}
                            </td>
                            <td class = "striker">
                                <a href = "/to_do_app/edit/{{item.id}}">
                                    {{item.item}}
                                </a>
                            </td>
                            <td>
                                <a href = "/to_do_app/edit_pri/{{item.id}}">
                                    {{item.priority}}
                                </a>
                            </td>
                            <td>
                                <a href = "/to_do_app/uncompleted/{{item.id}}">
                                    O
                                </a>
                            </td>
                            <td>
                                <a href = "/to_do_app/delete/{{item.id}}">
                                    刪除
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <!--如果item未完成表格內容-->
                        <tr>
                            <td>
                                {{item.event_date}}
                            </td>
                            <td>
                                <a href = "/to_do_app/edit/{{item.id}}">
                                    {{item.item}}
                                </a>
                            </td>
                            <td>
                                <a href = "/to_do_app/edit_pri/{{item.id}}">
                                    {{item.priority}}
                                </a>
                            </td>
                            <td>
                                <a href = "/to_do_app/completed/{{item.id}}">
                                    X
                                </a>
                            </td>
                            <td>
                                <a href = "/to_do_app/delete/{{item.id}}">
                                    刪除
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </table>
    {% endblock %}
    </body>
</html>