{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- 套boostrap 但title 是自己的 -->
        <title>
            {% block title %}
                會員密碼更改頁面
            {% endblock %}
        </title>
    </head>
    <body>
        {% block content %}
        <br>
        <div class="align-center">
            <h2>
                {{ request.user.first_name }}，你的密碼已修改完成。
            </h2>
            <hr>
            <br>
        </div>
        {% endblock %}
    </body>
</html>