{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- 套boostrap 但title 是自己的 -->
        <title>
            {% block title %}
                會員密碼更改頁面
            {% endblock %}
        </title>
    </head>
    <body>
        {% block content %}
        <br>
        <div class="login-text">
            <h2>
                {{ request.user.first_name }}，請更改你的密碼。
            </h2>
            <hr>
            <br>
            <form class="post-form" method = "POST" action='.'>
                {{ form.as_p }}
                    {% csrf_token %}
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
                    變更密碼
                </button>
            </form>
        </div>
        {% endblock %}
    </body>
</html>