{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 套boostrap 但title 是自己的 -->
    <title>
    {% block title %}
    會員申請表單
    {% endblock %}
    </title>
</head>
<body>
    {% block content %}
    <br/>
    {% if error_msg %}
    <p class="alert_style"> 您填的資訊內容不符規範，麻煩您再重新填寫繳交。 </p>
    {% endif %}
    <h3>  加入會員表單  </h3>
    <hr>
    <p>  請完成以下表單  </p>
    <form class="post-form" method = "POST" action='.'>
      {{ user_form.as_p }}
      {% csrf_token %}
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit" value="Create my account"> 提交 </button>
    </form>
    {% endblock %}
</body>
</html>
