{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- 套boostrap 但title 是自己的 -->
        <title>
            {% block title %}
                會員申辦成功！
            {% endblock %}
        </title>
    </head>
    <body>
        {% block content %}
        <div class="login-text">
            <br>
            <h3>
                {{ new_user.first_name }}，恭喜你成功加入「豬」氏會社
            </h3>
            <hr>
            <p>
                請點選登入，以便開啟你會員功能
                <br> <br>
                <a href="{% url 'login' %}">
                    會員登入
                </a>
            </p>
        </div>
    {% endblock %}
</body>
</html>
