{% load staticfiles %}
<!--此為每個頁面共用模板-->
<!doctype html>
<html lang="zh-Hant">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href= "{% static "css/style.css" %}" >
    <!--把title替換掉 -->
    <title>
        {% block title %} {% endblock %}
    </title>
<!--      利用內嵌式 CSS 去修改 -->
  </head>
  <body class="body_color">
{% block navbar %}
  <!--  navbar開始-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="{% url 'index' %}"> Jamie Huang</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About-me</a>
      </li>
<!--        <li class="nav-item">-->
<!--        <a class="nav-link" href="{% url 'member_index' %}">Member Index</a>-->
<!--      </li>-->
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'to_do_app' %}">To-do-app</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="https://huangjamison.github.io/Portfolio_Code/">Jamie 的 作品集</a>
      </li>

    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method = "GET" action="{% url 'search' %}">
      <input class="form-control mr-sm-3" type="search" placeholder="輸入搜尋關鍵字..."
             aria-label="Search" name="q" value="{{ request.GET.q }}">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>

<!--    寫一個 if 判斷 login or logout   -->
     {% if request.user.is_authenticated %}
     <a href="{% url 'logout' %}" class="btn btn-link btn-lg active mr-sm-2" role="button" aria-pressed="true">
           安安！{{ request.user.first_name }}，Logout 登出 </a>
     {% else %}
     <a href="{% url 'login' %}" class="btn btn-link btn-lg active mr-sm-2" role="button" aria-pressed="true"> Login 會員登入 </a>
     {% endif %}
<!--    寫一個 if 判斷 login or logout   -->
  </div>
</nav>
<!--  navbar結束-->
{% endblock %}
       <!--把body替換掉並且以container去做段落整理 -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <footer>
        <center>
        <div class="badge badge-primary text-wrap" style="width: 12rem; text">
               累積瀏覽人數： {{ count_num.count }}
        </div>
        </center>
        <center>
        CopyRight &copy; All Right Reserved. Jamie Huang
        </center>
    </footer>
  </body>
</html>
