{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--    網頁描述-->
        <meta name="description" content="Jamie Huang's Blog use django to create your own website
         and familiarize models ,templates and views system (MVC)
         — Blog & To-do-list & BBS social media | Heroku.">
        <!--    網頁描述-->
        <!-- 套boostrap 但title 是自己的 -->
        <title>
            {% block title %}
                BBS 首頁 | Jamie Huang's Blog 用 Django 打造專屬自己的程式小部落格
            {% endblock %}
        </title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href= "{% static "css/style.css" %}" >
    </head>
    <body>
        {% block content %}
        <h3 class="bbs-head">
            BBS Beta版
        </h3>
        <h3 class="bbs-intro">
            BBS 全名為 Bulletin Board System 是一個相互交流的小基地。
            花了一些時間練習 Django MTV 觀念並加強 CRUD 觀念，希望你們操作上順手哦！
            會員可以在 BBS 發布文章、分享意見、留言、案讚、分享，
            訪客可以「留言」、「讚」、「噓」功能，歡迎使用，謝謝你們！
        </h3>
        <!--新增 修改 案讚等訊息-->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button class="close" data-dismiss="alert">
                        <small><sup>X</sup></small>
                    </button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif%}
        <!--bbs文章按鈕-->
        <center>
            <div class="bbs-click-btn">
                <a href="{% url 'bbs_new_articles' %}" class="btn btn-outline-info btn-lg active" role="button" aria-pressed="true">
                    我有話要說 !!
                </a>
            </div>
        </center>
        <br>
        <!--bbs文章card-->
        <div class="bbs row">
            {% for po,comment in my_list %}
                <!--bbs文章top-->
                <div class="card border-info col-md-5 card_padding card_size">
                    <div class="bbs_href">
                        <a href="{% url 'bbs_revise_articles' po.id %}" class="bbs_href">
                            修改文章
                        </a>
                        <a href="{% url 'bbs_delete_articles' po.id %}" class="bbs_href">
                            刪除文章
                        </a>
                    </div>
                    <!--bbs文章head-->
                    <div class="bbs-title card-header text-white bg-primary">
                        [{{ po.post_type }}] &nbsp; {{ po.post_title }} <br>
                        鄉民 &ensp;{{ po.postman }}&ensp;於&ensp;
                        {{ po.post_date|date:"Y-m-d H:i:s" }} &ensp;發布
                    </div>
                    <!--bbs文章content-->
                    <div class="bbs-p card-body">
                        <p class="card-text">
                            {{ po.post_content }}
                        </p>
                    </div>
                    <!--bbs文章middle-->
                    <div class="bbs-info card-footer text-black bg-warning">
                        <a href="{% url 'bbs_likes_post' po.id %}">
                            <img src ="{% static 'images/likes.png' %}" width="20">
                            讚：{{ po.post_likes }}&nbsp;
                        </a>
                        <a href="{% url 'bbs_hates_post' po.id %}">
                            <img src="{% static 'images/dislikes.png '%}" width="20">
                            噓： {{ po.post_hates }}
                        </a>
                        <br>
                        目前有 {{ comment|length }} 留言
                    </div>
                <br>
                <!--bbs comment-->
                {% for co in comment %}
                    <div class="bbs-comment">
                        <a href="{% url 'bbs_revise_comment' co.id %}" >
                            改
                        </a>
                        <a href="{% url 'bbs_delete_comment' co.id %}" >
                            刪
                        </a>
                        &emsp;
                        <span class="bbs-comment-click">
                            {{ co.comment_man }}說： {{ co.comment_content }}
                        </span>
                    </div>
                <hr>
                {% endfor %}
                <!--new comment-->
                    <form action="{% url 'bbs_new_comment' po.id %}" method="POST">
                        {% csrf_token %}
                        {% if request.user.is_authenticated %}
                            <input type = "hidden" value="{{ request.user.first_name }}" name="comment_man">
                        {% else %}
                            <input type = "hidden" value="訪客" name="comment_man">
                        {% endif %}
                        <input class="form-control mr-sm-2 leave_message" type="search" placeholder="想說什麼...歡迎留言"
                               value="" name="comment_content">
                        <button class="btn btn-outline-info leave_message" type="submit">
                            留言
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <br/>
        {% endblock %}
    </body>
</html>